h2 {
    color: rgb(15, 15, 17);
}

.clickMe {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #030208;
    color: rgb(235, 237, 245);
    font-size: 1rem;
}

.delete_button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #0c0b0b;
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.school_major {
    color: rgb(15, 15, 17);
}

.school_cost {
    color: rgb(15, 15, 17);
}

a:link {
    color: #ebebee;
}

.school__schoolName {
    color: lightgoldenrodyellow;
}

form {
    background-color: rgb(69, 78, 83);
}

#schoolListMapping {
    background-color: rgb(215, 229, 236);
}

.schoolForm__title {
    color: #ebebee;
}

.label_header_for_name {
    color: #ebebee;
}

.label_header_for_logo {
    color: #ebebee;
}

.label_header_for_subject {
    color: #ebebee;
}

.label_header_for_cost {
    color: #ebebee;
}

.label_header_for_link {
    color: #ebebee;
}

.school__schoolName {
    color: #07050f;
}