.logout_button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #07050f;
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.home__button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #0a090f;
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.school__schoolTypeId {
    color: rgb(15, 15, 17);
}

.school__major {
    color: rgb(15, 15, 17);
}

.school__tuition {
    color: rgb(15, 15, 17);
}

.school__creator {
    color: rgb(15, 15, 17);
}

section {
    background-color: rgb(255, 255, 255);
  }
