.logout_button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #07050f;
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.home__button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #0a090f;
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.school__schoolTypeId {
    color: #ebebee;
}

.school__major {
    color: #ebebee;
}

.school__tuition {
    color: #ebebee;
}

.school__creator {
    color: #ebebee;
}

section {
    background-color: rgb(9, 10, 4);
  }